* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');



.primary-button {
    padding: 15px 30px;
    color: #005FAC;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.tik-simbol {
    width: 4%;
    margin-right: 5px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    color: white;

}

.header-description {
    text-align: end;
    padding: 130px;
    width: 30%;
}

.header img {
    width: 100%;
}


.failer-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-plans {
    display: flex;
    justify-content: space-around;
}

.failer-year-right {
    width: 30%;
    padding: 200px;
}

.failer-year-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}


.failer-section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 20px;
}

.failer-year-right ul li{
    list-style: none;
}


.my-plans-section {
    text-align: center;
    margin: 100px 0;
}
.my-plan-title{
    margin: 30px 0;
}







.footer {
    display: flex;
    justify-content: space-between;
}